<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">Welcome to my Site!</h1>

                <h2>Hello, I am Ruchanshi Desai and you are most most welcome to my site. I am currently studying at the college and doing great. 
                    Always prefer music because music is a feel. Just to mention that this website is very cool.
                </h2>
                 
                <button onclick="myFunction()">About Me!</button>
                <Script>function myFunction(){
                location.replace("http://localhost:3000/about")}</Script>
            </div>
    </div>
</div>
