<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4">An Interesting List of my Services</h1>

                <ul class="list-group">
                    <li  class="list-group-item">We create custom application for tracking invoices.</li>
                    <li class="list-group-item">We build the platform using Azure.</li>
                    <li class="list-group-item">Implements several additional features to streamline the process.</li>
                    <li class="list-group-item">We provide consulting and product development services for a mobile app that allows users to lock and unlock access to a desktop computer.</li>
                    <li class="list-group-item">We build iOS and Android mobile apps through a series of sprints.</li>
                    <li class="list-group-item">When development neared completion, the transitioned the work to an inhouse team.</li>
                    <li class="list-group-item">We design and develop iOS and Android apps to function a sthe customer end of a B2C E-commerece platform, which supports online ordering.</li>
                    
                        
                      
                  </ul>
            </div>
    </div>
</div>

